<div
  id="overlay"
  (click)="data.click(); closeModal()"
  [@openClose]="isOpen ? 'open' : 'closed'"
>
  <div
    class="p-5"
    [class]="data.class"
    [@openClose]="isOpen ? 'open' : 'closed'"
    (click)="$event.stopPropagation()"
  >
    <h2 mb-3>{{ data.title }}</h2>
    <div class="mb-4" [innerHtml]="data.contents"></div>
    <p>
      <button class="me-2" (click)="data.click('OK'); closeModal()">OK</button>
      <button (click)="data.click('NG'); closeModal()">NG</button>
    </p>
  </div>
</div>
