/**
   * overlay for modal
   */
.overlay {
  margin: 0;
  padding: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
  @include center-center();
  opacity: 0;
  top: 0;
  left: 0;
}

.display-modal {
  overflow: hidden;
}

.el_btn {
  display: inline-block;
  width: 120px;
  max-width: 100%;
  padding: 10px 10px;
  background-color: $color-theme-default;
  color: #fff;
  font-size: 0.875rem;
  border: 1px solid transparent;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
  &:focus,
  &:hover {
    background-color: #fff;
    border-color: currentColor;
    color: $color-theme-default;
  }
  &__white {
    background-color: #fff;
    color: $color-theme-default;
    border-color: $color-theme-default;
    &:focus,
    &:hover {
      background-color: $color-theme-default;
      border-color: transparent;
      color: #fff;
    }
  }
}

.el_btn__radius {
  border-radius: 4px;
}
