@mixin default-border($borderColor: $color-gray-light) {
  border: 1px solid $borderColor;
}

@mixin default-border-bottom($borderColor: $color-gray-light) {
  border-bottom: 1px solid $borderColor;
}

@mixin font-size($font-size, $line-height: auto) {
  font-size: $font-size;
  font-size: ($font-size / $base-font-size) * 1rem;

  @if $line-height == auto {
    line-height: ceil($font-size / $base-line-height) *
      ($base-line-height / $font-size);
  } @else {
    @if (
      type-of($line-height) ==
        number or
        $line-height ==
        inherit or
        $line-height ==
        normal
    ) {
      line-height: $line-height;
    } @else if ($line-height != none and $line-height != false) {
      @warn "D’oh! ‘#{$line-height}’ is not a valid value for `line-height`.";
    }
  }
}
