<nav class="row col-12" class="main-nav">
  <ul class="d-flex">
    <li class="main-nav__nav-list">
      <a
        class="main-nav__nav-link"
        [class.active]="currentPage === 'purchasing'"
        routerLink="/"
        >仕入れ</a
      >
    </li>
    <li class="main-nav__nav-list">
      <a
        class="main-nav__nav-link"
        [class.active]="currentPage === 'product'"
        routerLink="/product-list"
        >商品</a
      >
    </li>
    <li class="main-nav__nav-list">
      <a class="main-nav__nav-link" [class.active]="currentPage === 'report'"
        >レポート</a
      >
    </li>
  </ul>
</nav>
