<div class="row m-3 ms-0">
  <div class="content-left col-5 pe-0 ps-0">
    <h2 class="mb-3 ps-3">仕入れ</h2>
    <ul>
      <li class="d-flex align-items-center justify-content-between p-3">
        <div
          class="img-wrap d-flex align-items-center justify-content-center me-3"
        >
          <img src="assets/images/icon/purchasing.svg" />
        </div>

        <div class="list-data me-2">
          <div class="purchasing-date">2020/04/22</div>
          <div class="purchasing-id">A124567</div>
        </div>
        <div class="purchasing-price">59,921</div>
      </li>
      <li class="d-flex align-items-center justify-content-between p-3">
        <div
          class="img-wrap d-flex align-items-center justify-content-center me-3"
        >
          <img src="assets/images/icon/purchasing.svg" />
        </div>

        <div class="list-data me-2">
          <div class="purchasing-date">2020/04/22</div>
          <div class="purchasing-id">A124567</div>
        </div>
        <div class="purchasing-price">59,921</div>
      </li>
      <li class="d-flex align-items-center justify-content-between p-3">
        <div
          class="img-wrap d-flex align-items-center justify-content-center me-3"
        >
          <img src="assets/images/icon/purchasing.svg" />
        </div>

        <div class="list-data me-2">
          <div class="purchasing-date">2020/04/22</div>
          <div class="purchasing-id">A124567</div>
        </div>
        <div class="purchasing-price">101,921</div>
      </li>
      <li class="d-flex align-items-center justify-content-between p-3">
        <div
          class="img-wrap d-flex align-items-center justify-content-center me-3"
        >
          <img src="assets/images/icon/purchasing.svg" />
        </div>

        <div class="list-data me-2">
          <div class="purchasing-date">2020/04/22</div>
          <div class="purchasing-id">A124567</div>
        </div>
        <div class="purchasing-price">59,921</div>
      </li>
    </ul>
  </div>
  <div class="col-7 content-details pe-0 ps-0">
    <div class="details-head">
      <div
        class="
          item-img-wrap
          d-flex
          justify-content-center
          bg-secondary
          m-auto
          mb-2
        "
      >
        <img class="w-75 p-3" src="assets/images/icon/item-m.svg" />
      </div>
      <div class="text-center mb-1">A124567</div>
      <h4 class="text-center fs-2 mb-2">59,921</h4>
      <div class="text-center mb-2">
        <span>2020/04/22</span>・<span>5商品</span>
      </div>
    </div>
    <h3 class="ps-3">明細</h3>
    <ul>
      <li class="d-flex align-items-center justify-content-between p-3">
        <div
          class="img-wrap d-flex align-items-center justify-content-center me-3"
        >
          <img src="assets/images/icon/receipt-s.svg" />
        </div>

        <div class="list-data me-2">
          <div class="item-name">カーボンペンC2-W</div>
          <div class="item-detail">
            <span class="pe-2">800</span><span>12個</span>
          </div>
        </div>
        <div class="item-price">59,921</div>
      </li>
      <li class="d-flex align-items-center justify-content-between p-3">
        <div
          class="img-wrap d-flex align-items-center justify-content-center me-3"
        >
          <img src="assets/images/icon/receipt-s.svg" />
        </div>

        <div class="list-data me-2">
          <div class="item-name">カーボンペンC2-W</div>
          <div class="item-detail">
            <span class="pe-2">800</span><span>12個</span>
          </div>
        </div>
        <div class="item-price">59,921</div>
      </li>
      <li class="d-flex align-items-center justify-content-between p-3">
        <div
          class="img-wrap d-flex align-items-center justify-content-center me-3"
        >
          <img src="assets/images/icon/receipt-s.svg" />
        </div>

        <div class="list-data me-2">
          <div class="item-name">カーボンペンC2-W</div>
          <div class="item-detail">
            <span class="pe-2">800</span><span>12個</span>
          </div>
        </div>
        <div class="item-price">59,921</div>
      </li>
      <li class="d-flex align-items-center justify-content-between p-3">
        <div
          class="img-wrap d-flex align-items-center justify-content-center me-3"
        >
          <img src="assets/images/icon/receipt-s.svg" />
        </div>

        <div class="list-data me-2">
          <div class="item-name">カーボンペンC2-W</div>
          <div class="item-detail">
            <span class="pe-2">800</span><span>12個</span>
          </div>
        </div>
        <div class="item-price">59,921</div>
      </li>
    </ul>
  </div>
</div>
